.asset-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.asset-preview-box {
  position: relative;
  background: #222;
  border: 1px solid #444;
  image-rendering: pixelated;
  cursor: pointer;
  display: inline-block;
}

.asset-preview-box.selected {
  border: 2px solid lime;
}

.asset-preview-img {
  position: absolute;
  width: 16px;
  height: 16px;
}
