@use "theme" as *;

@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

//fonts
$pixel-font: "Pixelify Sans", sans-serif;

//font-sizes
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;

//title fonts
$titleFont-xs: 1rem;
$titleFont-sm: 1.5rem;
$titleFont-md: 2rem;
$titleFont-lg: 3rem;
$titleFont-xl: 3.5rem;
