.game-canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  image-rendering: pixelated;

  // Default scale (on large screens)
  transform: scale(1.82);
}

.game-timer {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 10000;
  color: white;
  font-size: 24px;
  font-family: monospace;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 12px;
  border-radius: 6px;
}

// For smaller screens, reduce the scale
@media (max-width: 1920px), (max-height: 1080px) {
  .game-canvas {
    transform: scale(1.27);
  }
}

@media (max-width: 1440px), (max-height: 900px) {
  .game-canvas {
    transform: scale(1.07);
  }
}
