.game-canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  image-rendering: pixelated;

  // Default scale (on large screens)
  transform: scale(1.82);
}

// For smaller screens, reduce the scale
@media (max-width: 1920px), (max-height: 1080px) {
  .game-canvas {
    transform: scale(1.27);
  }
}

@media (max-width: 1440px), (max-height: 900px) {
  .game-canvas {
    transform: scale(1.07);
  }
}
